{% extends 'pages/base.jinja' %}


{% block title %}

    Client Tracker

{% endblock %}


{% block content %}

      {% if session.user_id %}

            <summary><strong>Edit Client</strong></summary>

            <form action="/client-edit/{{ client.id }}" method="POST">

            <fieldset>
                <label>
                    Name of Client:
                    <input
                        type="text"
                        name="name"
                        value="{{ client.name }}"
                    required>
                </label>

                                <label>
                    Phone number of Client:
                    <input
                        type="text"
                        name="phone"
                        value="{{ client.phone }}"
                    required>
                </label>

                                <label>
                    Address of Client:
                    <input
                        type="text"
                        name="address"
                        value="{{ client.address }}"
                    required>
                </label>
            </fieldset>

            <div style="display: inline-flex; gap: 10px; margin-top: 0; align-items: center;">
                <button type="submit">Save Changes</button>
                <a href="/" role="button">Cancel</a>
            </div>

            </form>

        {% else %}

            <p>Please log in to edit client info</p>

    {% endif %}

{% endblock %}