{% extends 'pages/base.jinja' %}


{% block title %}

    Client Tracker

{% endblock %}

    {# Only show form if user is logged in #}
    {% if session.user_id %}

        <article>

            <h3>Add a New Client...</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="name"
                    placeholder="Name of client"
                    required
                >

                <input
                    type="text"
                    name="address"
                    placeholder="Address of client"
                    required
                >

                <input
                    type="text"
                    name="phone"
                    placeholder="Phone number of client"
                    required
                >

                <button>Add Client</button>

            </form>

        </article>

    {% endif %}

{% endblock %}