{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Client Tracker

{% endblock %}


{% block content %}

    <h1>Welcome</h1>

     <article>

        <header>
            <h2>Please Log In</h2>
        </header>

        <form action="/login-user" method="POST">

            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <button>Login</button>

        </form>

        <footer>
            Or, if you don't have an account, <a href="/register">Sign Up</a>
        </footer>

    </article>


{% endblock %}

