{% extends 'pages/base.jinja' %}


{% block title %}

    Client Tracker

{% endblock %}


{% block content %}

      {% if session.user_id %}

            <h1>{{ client_name }}</h1>

        <article>
            <div style="overflow-x:auto;">
                <table>

        <thead>

            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Hours Worked</th>
                <th>Billed</th>
                <th>Paid</th>
            </tr>

        </thead>

        <tbody>

        {% if jobs %}
            {% for job in jobs %}

            <tr>
                <td> {{ job.date }} </td>
                <td> {{ job.name }} </td>
                <td> {{ job.hours_worked }} </td>

                <td> 
                    <form action="/job-toggle-billed/{{  job.id }}" method="POST" style="display:inline;">
                        <input type="checkbox" onchange="this.form.submit()" {% if job.billed %}checked{% endif %}>
                    </form>
                </td>

                <td> 
                    <form action="/job-toggle-paid/{{  job.id }}" method="POST" style="display:inline;">
                        <input type="checkbox" onchange="this.form.submit()" {% if job.paid %}checked{% endif %}>
                    </form>
                </td>

                <td style="text-align: right;">
                <a href="/job-edit/{{ job.client_id }}/{{ job.id }}">Edit</a>
                <a href="/delete/{{ job.client_id }}/{{ job.id }}" onclick="return confirm('Really delete?');">Delete</a>
                </td>
            </tr>

            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" style="text-align:center;">
                        <h3><strong>No jobs yet!</strong></h3>
                    </td>
                </tr>
            {% endif %}

        </tbody>
        
    </table>
    </div>


        <details>

            <summary><strong>Add a Job</strong></summary>

            <form action="/job-add/{{ client_id }}" method="POST">

                <fieldset>
                    <input 
                        type="text" 
                        name="name" 
                        placeholder="Name of job" 
                    required>

                    <input 
                        type="number" 
                        name="hours_worked" 
                        placeholder="Number of hours worked" 
                    required>

                    <label>
                        <input 
                            type="checkbox" 
                            name="billed" 
                            value="1" 
                        >
                        Billed
                    </label>
                    
                    <label>
                        <input 
                            type="checkbox" 
                            name="paid" 
                            value="1"
                        >
                        Paid
                    </label>
                </fieldset>
                
                <button>Submit</button>

            </form>

        </details>

        </article>

        <a href="/" role="button">Back</a>

    {% endif %}

{% endblock %}