{% extends 'pages/base.jinja' %}


{% block title %}

    Client Tracker

{% endblock %}


{% block content %}

    {% if session.user_id %}

        <article>

            <h3>Add a Job</h3>

            <form action="/job-add" method="POST">

                <input 
                    type="hidden" 
                    name="client_id" 
                    value="{{ client_id }}"
                >

                <input 
                    type="text" 
                    name="name" 
                    placeholder="Name of job" 
                required>

                <input 
                    type="number" 
                    name="hours_worked" 
                    placeholder="Number of hours worked" 
                required>

                <input 
                    type="checkbox" 
                    name="billed" 
                    value="1" 
                >

                <input 
                    type="checkbox" 
                    name="paid" 
                    value="1"
                >

                <button>Submit</button>

                <a href="/" role="button">Cancel</a>

            </form>

        </article>

    {% endif %}
    
{% endblock %}